@import "tailwindcss";
@config "../tailwind.config.ts";

@font-face {
  font-family: "Louis";
  src: url('/Fonts/LouisGeorgeCafe/LouisGeorgeCafe.ttf')
}

@font-face {
  font-family: "Gotham";
  src: url('/Fonts/Gotham/Gotham-Bold.otf')
}

@font-face {
  font-family: "AlanSans";
  src: url('/Fonts/AlanSans/AlanSans-Regular.otf')
}

@font-face {
  font-family: "Ethereal";
  src: url('/Fonts/Ethereal/Ethereal-Thin.otf')
}
